* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.table{
    margin-top: -500px;
    float: left;
    margin-left: 120px;
}

#icon{
    font-size: 60px;
  padding-left: 30px;
  padding-top: 10px;
  vertical-align: top;
  display: inline-block;

}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}
header {
    background-color: #339933;
    color: #fff;
    text-align: left;
    padding: 5px 0;
    font-size:9px;
}
header h1 {
    font-size: 16px;
   vertical-align: top;
   display: inline-block;
   padding:30px 10px;
}
h2{
    font-size: 15px;
    vertical-align: top;
    display: inline-block;
}
table, th, td{
    font-size: 12px;
}
nav {
    
    vertical-align: top;
    display: inline-block;
    color: #fff;

    text-align: center;
    padding: 15px;
    background-color: rgb(41, 41, 41);
    border-right: 1px solid #ccc;
    height: 500px;
}


nav  a {
    display: block; 
    margin-top: 15px; 
    padding: 10px ; 
    text-decoration: none; 
    color: #ffffff; 
    font-size: 10px;
    transition: background-color 0.3s ease;
    text-align: left;
    
}
#info{
    width: 130px;
    text-align: left;
}
#info2{
 
    width: 170px;
    margin-left:   -2245px;
    text-align: center;
}
.harvest{
    margin-left: 43px;
    margin-top: 20px;
}
.data{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
.showNewFieldLink:hover,
.showNewFieldLink.active{
    background-color: #ffffff;
    color: rgb(41, 41, 41);
    
}

  a{
    text-decoration: none;
  }
  


.showNewFieldLink{

    transition: background-color 0.3s ease;
  }
th {
    background-color: #f0f0f0;
}
#add{
    vertical-align: top;
    display: inline-block;
   padding-left: 640px;
}
.h2btn{
padding:5px 0;
}
button {
    float: left;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
}

/* Style for the "add-farmer-button" */
.add-farmer-button {
    background-color: rgb(7, 107, 238); /* Background color */
    color: white; /* Text color */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding around the text/icon */
    font-size: 12px; /* Text size */
    display: flex; /* Flex display to align icon and text */
    align-items: center; /* Center items vertically */
}
#no{
    width:40px;
}

.add-farmer-button i {
    font-size: 10px; /* Icon size */
    margin-right: 5px; /* Space between icon and text */
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 40px;
}
