* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
.formharvest{
    font-size: 444px;
}

th {
    background-color: #f2f2f2;
}

th#info {
    background-color: #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
  
 